<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>小呆-登录</title>
        <link href="./assets/css/login.css" rel="stylesheet">
        <script src="./assets/js/vue.global.js"></script>
        <!-- import CSS -->
        <link rel="stylesheet" href="./assets/css/index.css">
        <!-- import ElementPlus JavaScript -->
        <script src="./assets/js/index.full.js"></script>
        <style>
			.el-header{
				height: 30vh;
			}
            .el-container{
                width: 100%;
                height: 100%;
            }
            .header-title{
                text-align: center;
                font-size: 25px;
            }
            .el-col {
                border-radius: 4px;
            }
            .form-box{
				border-radius: 10px;
				margin-top: 20px;
				padding: 20px 0;
				background-color: rgba(255,255,255,0.8);
            }
			.el-footer {
				font-size: 14px;
				text-align: center;
			}
			p{
				color: grey;
				margin-bottom: 3px;
			}
        </style>
	</head>
	<body>
       <div id="app">
        <el-container>
            <el-container>
				<el-header></el-header>
				<el-main>
					<el-row :gutter="0">
						<el-col :xs="{span: 24,offset: 0}" :sm="{span: 20,offset: 2}" :md="{span: 16,offset: 4}" :lg="{span: 12,offset: 12}"  :xl="{span: 8,offset: 16}">
							<h1 class="header-title">进销存后台管理系统</h1>
						</el-col>
					</el-row>
					<el-row :gutter="0">
						<el-col :xs="{span: 24,offset: 0}" :sm="{span: 20,offset: 2}" :md="{span: 16,offset: 4}" :lg="{span: 12,offset: 12}" :xl="{span: 8,offset: 16}">
							<div class="form-box">
								 <el-form :model="data" ref="userDto" :rules="rules">
									<el-row :gutter="0">
										<el-col :xs="{span: 22,offset: 1}" :sm="{span: 22,offset: 1}" :md="{span: 22,offset: 1}" :lg="{span: 22,offset: 1}" :xl="{span: 22,offset: 1}">
											<p>账号</p>
											 <el-form-item ref="userName">
												  <el-input v-model="loginDto.userName" placeholder="Username" />
											 </el-form-item>
										</el-col>
									</el-row>
									<el-row :gutter="0">
										<el-col :xs="{span: 22,offset: 1}" :sm="{span: 22,offset: 1}" :md="{span: 22,offset: 1}" :lg="{span: 22,offset: 1}" :xl="{span: 22,offset: 1}">
											<p>密码</p>
											 <el-form-item ref="password">
												  <el-input v-model="loginDto.password" placeholder="Password" show-password/>
											 </el-form-item>
										</el-col>
									</el-row>
									<el-row>
										<el-col :xs="{span: 22,offset: 1}" :sm="{span: 22,offset: 1}" :md="{span: 22,offset: 1}" :lg="{span: 10}" :xl="{span: 10}">
											 <el-form-item>
												   <el-button color="#626aef" style="color: white;width: 100%;" @click="login">登录</el-button>
											 </el-form-item>
										</el-col>
										<el-col :xs="{span: 22,offset: 1}" :sm="{span: 22,offset: 1}" :md="{span: 22,offset: 1}" :lg="{span: 11}" :xl="{span: 11}">
											<el-button color="#626aef" plain style="width: 100%;" @click="turnToRegister">注册</el-button>
										</el-col>
									</el-row>
								</el-form>
							</div>
						</el-col>
					</el-row>
				</el-main>
				<el-footer>
					Copyright © 2021 <a href="https://github.com/xing-yu-chen/small-dai-open-source">small-dai-open-source</a>. All rights reserved. 
				</el-footer>
            </el-container>
          </el-container>
       </div>
	</body>
	<script src="./assets/js/axios.min.js"></script>
    <script>
        const { createApp } = Vue;
		
		//基础路径
		var baseUrl = "http://localhost/v1";

        const app = createApp({
            data: function() {
                return { 
                    loginDto: {
						userName: "",
						password: ""
					},
					rules: {
						userName: [
							{required: true, message: '请输入账号', trigger: 'blur' },
							{ min: 3, max: 10, message: '长度在 3 到 10 个字符', trigger: 'blur' }
						],
						password: [
							{required: true, message: '请输入密码', trigger: 'blur'},
							{ min: 7, max: 15, message: '长度在 7 到 15 个字符', trigger: 'blur' }
						],
					}
                }
            },
			methods:{
				//注册页面跳转方法
				turnToRegister(){
					window.location.href = "./register.html";
				},
				//登录方法
				login(){
					//发送post登录请求
					axios.post( baseUrl + '/login', this.loginDto ).then(res=>{
						//当接收无误时写入localStorage保存
						if ( res.data.code == 200 ) {
							//向localStorage中存储一个对象，因为只能存字符串类型所以转化为字符串
							window.localStorage.setItem("userMsg",JSON.stringify(res.data.data))
							//存储后页面跳转
							window.location.href = "";
						}else {
							//返回错误状态信息
						   this.$message({
								showClose: true,
								message: res.data.data,
								type: 'warning'
							});
						}
					})
				}
			}
        })
        app.use(ElementPlus)
        app.mount("#app")
    </script>
</html>
